body{
    background-color: #0C1821;
    color: #ccc9dc;
    overflow-x:hidden;
}

h3{
    color: #324a5f;
    text-align: right;
    font-family: 'Bebas Neue', cursive;
}
h1{
    color: #ccc9dc;
    text-align: right;
    font-family: 'Bebas Neue', cursive;
    
}
h2{
    font-family: 'Bebas Neue', cursive;
}
h4{
    font-family: 'Bebas Neue', cursive;  
}

footer{
  background-color: #324a5f;
  min-height: 30vh;
  padding: 32px;
}


.custom-container{
  min-height: 70vh;
}

.name{
font-size: 48px;
}

.custom-img:hover{
  filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
}
.custom-img{
  height: 400px;
  object-fit: contain;
  filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;
}